[primary] { 
       background: #6bade1;
	color: #fff;
}
[danger] {
       background: #d60101;
    color: #fff;
}
[secondary] {
    background: #4d6a9e;
    color: #fff;
}
[address]{
	flex: 0 0 15%;
  width: 15% ;
}[pos]{
 flex: 0 0 7% ;
  width: 7% ;
}[check]
{
 flex: 0 0 10% ;
  width: 10% ;
}