[primary] { 
       background: #6bade1;
	color: #fff;
}
[danger] {
       background: #d60101;
    color: #fff;
}
[secondary] {
    background: #4d6a9e;
    color: #fff;
}
[address]{
	flex: 0 0 15%;
  width: 15% ;
}[pos]{
 flex: 0 0 7% ;
  width: 7% ;
}[check]
{
 flex: 0 0 10% ;
  width: 10% ;
}
.addcoupon.modal-heading {
    background: #60a8e0;
    color: #fff;
    padding: 15px 15px;
	button.close.close-modal {
    position: absolute;
    right: -17px;
    top: -10px;
    width: 30px;
    height: 30px;
    background: #fff;
    display: inline-block;
    opacity: 1;
    color: #60a8e0;
    border-radius: 50%;
	
}h4
	{
	margin: 0px; 
	}
}
.couponform
{
 label.frm_label {
    color: #000;
    font-weight: 600;
}
.form-control
{
height: 42px;
}
}
.user-image {
    display: inline-block;
    position: relative;
	label {
    position: absolute;
       bottom: 3px;
    right: 0px;
    color: #60a8e0;
	i
	{
	font-size: 22px;
	}
}
}